@import url('https://fonts.googleapis.com/css2? family= Poppins:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700 & display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* 
html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../public/bg.jpg') no-repeat;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  animation: animateBg 5s linear infinite;

  overflow-x: hidden;
} */

  




