.main {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 6rem; */
  min-height: 100vh;
  /* background: tomato; */
}

.login {
  background: red;
  width: 30vw;
  height: 70vh;
  
}

.login h1 {
  text-align: center;
}

.cadastro {
  background: green;
  width: 30vw;
  height: 70vh;
}





